{
	"extends": "@istanbuljs/nyc-config-typescript",
	"exclude": ["gulpfile.js/**/*.js", "tests/**/*.ts"],
	"report-dir": "tests/report-results",
	"temp-dir": "tests/report-results/tmp",
	"produce-source-map": true,
	"reporter": ["text-lcov", "text"]
}